**/__pycache__/
*.pyc
Module4_UnitTesting/.vscode/settings.json
.vscode/settings.json
package.json
Module4_UnitTesting/Mocha/.mocharc.json
Module4_UnitTesting/PyTest/.coverage
Module5_PythonBackendFrameworks/HandsOn_1/trainingmanager/db.sqlite3
Module5_PythonBackendFrameworks/HandsOn_10/fastapi_trainingmanager/course_service/courses.db
Module5_PythonBackendFrameworks/HandsOn_10/fastapi_trainingmanager/fastapi_training.db
Module5_PythonBackendFrameworks/HandsOn_10/fastapi_trainingmanager/student_service/students.db
Module5_PythonBackendFrameworks/HandsOn_2/trainingmanager/db.sqlite3
Module5_PythonBackendFrameworks/HandsOn_3/trainingmanager/db.sqlite3
Module5_PythonBackendFrameworks/HandsOn_5/flask_trainingmanager/instance/corporate_training.db
